.content{
    width: 60%;
    margin: auto;
    box-shadow: 0px 1px 12px 5px grey;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
}
.content p,li{
    font-family: Verdana, sans-serif;
}
a{
    padding: 10px 12px;
    background-color: #e91e63;
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: teal;
}
.code{
    background-color: #009688;
    padding-left: 5px;
    font-family:monospace;
}
.btns{
    width: 100%;
}
.home_btn{
    text-align: center;
}
.nxt_btn{
    text-align: right;
}
.error{
    color: white;
    font-weight: bold;
    font-style: oblique;
}
.content .topics{
    background-color: white;
    width: 80%;
    margin: auto;
    color: black;
    text-shadow: 4px 5px 4px grey;
    font-weight: bolder;
    font-family: cursive;
    font-size: x-large;
}
